<div class="backdrop-update is-hidden">
  <button class="close-btn close-btn-update">
    <span class="material-icons-outlined"> close </span>
  </button>
  <form class="contact-form js-contact-form-update">
    <input
      name="id"
      type="number"
      class="contact-form-input"
      placeholder="Введіть id"
    />
    <input
      name="name"
      type="text"
      class="contact-form-input"
      placeholder="Введіть ім'я"
    />
    <input
      name="email"
      type="email"
      class="contact-form-input js-contact-email"
      placeholder="Введіть email"
    />
    <input
      name="phone"
      type="phone"
      class="contact-form-input js-contact-phone"
      placeholder="Введіть телефон"
    />
    <button class="contact-form-submit" type="submit">submit</button>
  </form>
</div>
